<nav class="navbar navbar-expand-lg fixed navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Deliver</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% comment %} <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">menu</a>
        </li>
        <ul class="navbar-nav">
          <li class="nav-item m-auto">
            <a class="nav-link" href="{% url 'order' %}">Place an Order!</a>
          </li>
        </ul>     
      </ul>    
    </div> {% endcomment %}
  </div>
</nav>